<%= csrf_meta_tags %>
<%= csp_meta_tag %>
<%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
<%= javascript_importmap_tags %>
<style>
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;800&family=Lato&family=Leckerli+One&family=Pacifico&display=swap');
  .splash-font{
      font-family: 'Leckerli One', cursive;
  }
</style>
<section class="xs:w-full flex flex-col p-5 w-full h-screen">
  <div class="flex justify-center mx-auto h-full items-center ">
    <h1 class="text-primary-500 text-5xl font-bold splash-font">AlFa Budget</h1>
  </div>
  <div class="w-full lg:max-w-lg md:mx-auto p-8 mt-auto">
    <%= link_to "Login", new_user_session_path, class: "bg-primary-500 block w-full h-16 max-h-full flex items-center justify-center text-white  hover:bg-primary-700 text-center mb-5 focus:bg-primary-700 text-white rounded-md px-3 py-3 font-semibold" %>
    <%= link_to "Signup", new_user_registration_path, class: "block w-full h-16 max-h-full flex items-center justify-center text-t-main hover:bg-primary-100 focus:bg-primary-100 text-white rounded-md  font-semibold" %>
  </div>
</section>
