<!DOCTYPE html>
<html>
  <head>
    <title>ALFA Budget App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <main>
      <section class="w-full h-screen bg-gray overflow-hidden">
        <%= yield %>
      </section>
    </main>
  </body>
</html>
